.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px
}
section h{
    font-family: "Metal Mania";
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.tour-items{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.tour-item{
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
}
.tour-date{
    width: 12%;
}
.tour-place{
    width: 25%;
    color: #777;
}
.tour-spec-place{
    width: 53%;
    color: #777;
}
.buy-btn{
    width: 20%;
    background: #56CCF2;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}