@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #f0efef;
  /* background: url(https://png.pngtree.com/background/20210711/original/pngtree-blue-gradient-geometric-flat-business-card-background-picture-image_1070306.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}

